<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <title>ParaGlance</title>

  <meta name="description" content="A quick glance paragliding weather forcast for SHGC sites.">
  <meta name="author" content="Adam Dullage">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="ParaGlance">
  <meta name="application-name" content="ParaGlance">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='javascript.js') }}"></script>

  {% include "headers-custom.html" ignore missing %}

</head>

<body>
  <div id="loading">
    <span id="loading-icon" class="mdi mdi-loading mdi-spin color-inherit"></span>
    <span id="loading-text">Consulting the weather oracles...</span>
  </div>

  <div id="content" style="display: none;">

    <!-- Forecast -->
    <div id="forecast"></div>

  </div>
</body>

</html>